<nav>
  <div class="container">
    <div class="ten columns">
      <ul class="horizontal-menu">
        <li><a class="menu-link" href="/">Home</a></li>
        <li><a class="menu-link" href="/recipes">Recipes</a></li>
      </ul>
    </div>
    <div class="two columns">
      <a href="users/signup" class="button button-primary">Sign-Up</a>
    </div>
  </div>
</nav>
