<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Snack Overflow | Home</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/css/shared.css">
</head>
<body>
<div class="pure-g" id="header">
  <img src="/img/logo.png" alt="logo" class="logo pure-u-2-24">
  <h1 class="pure-u-20-24">Snack Overflow</h1>
</div>
<!-- Javascripts -->
<script type="text/javascript" src="/js/menus.js">
</script>
</body>
</html>
